.container-welcome {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.welcome-btn {
  margin: 0;
}

.welcome-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 250px;
  padding: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid red;
}

.welcome-text {
    max-width: 450px;
}
