label {
  transform: translate(25px, -5px);
}

input:focus {
  outline: none;
}

.form-group {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.btn {
  margin-left: 20px;
  margin-top: 20px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 250px;
}

.sign-in {
  position: absolute;
  bottom: 0;
  right: 35%;
}

@media screen and (min-width: 1000px) {
  .container {
    flex-direction: row;
  }

  .signup-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
    margin-left: 100px;
    min-width: 400px;
    align-items: flex-start;
  }
  .sign-in {
    position: absolute;
    bottom: 0;
    right: 50px;
  }
}
